<!DOCTYPE html>
<html lang="en">
      <head>
      <meta charset="utf-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">
      </head>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<body>
    <div class="container">
    <h1>U-M Text Alerts</h1>
    {% block content %}
    {% bootstrap_form_errors form %}
    <form role="form" action="/sms/send/" method="post">
       {% csrf_token %}
       {% bootstrap_form form %}
       <input type="submit" value="Submit" />
    </form>

    {% endblock %}
    </div>
</body>
</html>
